.no-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 30rem;
    margin: 1rem auto;
}
.no-items h4{
    font-weight: 800;
}

@media screen and (max-width: 520px) {
    .no-items{
       
        flex-direction: column;
        width: 98%;
        height: 30rem;
    }
}