.homepage{
    width: 100vw !important;
    margin-top: 11rem;
    margin-left: 0 !important;
 
}

@media screen  and (max-width: 1000px){
    .homepage{
        margin-top: 11rem;
    }
}

@media screen and (max-width: 520px) {
    .homepage{
        margin-top: 12rem;
    }
}