.priceDiv{
    width: 65%;
    display: flex;
    flex-direction: row;
   align-self: flex-start;
}
.Cprice{
    font-weight: bold;
}
.Pprice{
    font-weight: 400;
}

@media screen and (max-with: 520px) {
    .priceDiv{
        width: 90% !important;
    }
}