.category-card{
    width: 24rem;
    height: auto;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-left: 0;
    cursor: pointer;
    
}
.category-card h4{
    font-weight: bolder !important;
    font-family: 'Montserrat', sans-serif;
}
.category-card img{
    width: 300px;
    height: 400px;
    
}
.category-card:nth-child(1){
    grid-area: 1/1/2/2;

}
.category-card:nth-child(2){
    grid-area: 1/2/2/4;
}
.category-card:nth-child(3){
    grid-area: 1/4/1/-1;
  
}

.category-card:nth-child(4){
    grid-area: 2/1/4/-1;
    width: 90vw;
}
.category-card:nth-child(4) img{
    width: 50%;
}
.category-card:nth-child(5){
    grid-area: 4/1/6/-1;
    width: 90vw;

}
.category-card:nth-child(5) img{
    width: 90%;
}

@media screen and (max-width: 1200px){
    .category-card:nth-child(1){
        grid-area: 1/1/2/2 !important;
        width: 90vw;
    
    }
    .category-card:nth-child(2){
        grid-area: 1/2/2/4 !important;
        width: 90vw;
    }
    .category-card:nth-child(3){
        grid-area: 3/1/3/4 !important;
        width: 90vw;
      
    }
    .category-card:nth-child(3) img{
        width: 90vw;
    }
    
    .category-card:nth-child(4){
        grid-area: 5/1/6/-1;
        width: 90vw;
    }
    .category-card:nth-child(4) img{
        width: 98vw;
    }
    .category-card:nth-child(5){
        grid-area: 6/1/7/-1;
        width: 90vw;
    
    }
    .category-card:nth-child(5) img{
        width: 98vw;
    }
}

@media screen  and (max-width: 520px){
    .category-card:nth-child(1){
        grid-area: 1/1/2/-1 !important;
        width: 90%;

    }

    .category-card:nth-child(1) img{
        width: 90%;
    }
    .category-card:nth-child(2){
        grid-area: 2/1/4/-1 !important;
        width: 90%;
    }
   .category-card:nth-child(3){
       grid-area: 4/1/5/-1 !important;
       width: 90%;
   }
   .category-card:nth-child(4){
       grid-area: 5/1/6/-1 !important;
       width: 90%;
    
   }
   .category-card:nth-child(4) img{
    width: 90%;
   }
   .category-card img{
       width: 90% !important;
   }
   .category-card:nth-child(5){
       grid-area: 6/1/7/-1;
       width: 90% !important;
   }
}