.search-div{
    display: flex;
    width: 47rem;
    align-items: center;
    border-radius: 24px;
}


  
  .searchInput :focus {
    border-color: lightsalmon;
  }
.search-div form{
  width: 47rem;
  align-items: center;
  border-radius: 24px;
  display: flex;
  flex-direction: row;
}



.searchIcon {
    padding: 5px;
    height: 30px !important;
    background-color: #fcba03;
    font-size: 3.2rem !important;
    padding: 5px;
    border-radius: 0 5px 5px 0;
  }

  .searchInput {
    height: 30px;
    padding: 10px;
    border: none;
    width: 80%;
  }
  
  .searchInput:focus {
    border-color: lightsalmon;
  }
  .search-div form button{
    background-color: #000000;
    border: none;
    padding: 0;
  }
  @media screen and (max-width: 1200px){
    .search-div{
      width: 20rem;
    }
    .search-div form{
      width: 19rem;
    }
  }

  @media screen and (max-width: 520px) {
    .search-div{
      margin-top: 0.5rem;
      width: 65%;
      display: flex;
      flex-direction: column;
      height: auto;
      margin-left: 0.4rem;
    }
    .searchInput{
      width: 50%;
      
    }
  }