.order{
    width: 20rem;
    height: 15rem;
    padding: 0.4rem;
    border: 1px solid #000000;
    border-radius: .5rem;
    text-align: left;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin-left: 1rem;
    
}
.order h5
{
    font-weight: 900;
}

.order h6{
    font-weight: 800;
}
.order button{
    background-color: #FFB319;
    color: #000000;
    padding: 0.3rem;
    border: 1px solid #FFB319;
    font-weight: 900;
    border-radius: 0.2rem;
    width: 10rem;
}


@media screen and (max-width: 1000px) {
    .order{
     margin-top: 2rem;
     margin-bottom: 1rem;
     height: 25rem;
    }
}